<% if current_user.admin? %>
<h1>Editing Category</h1>

<%= render "form_edit" %>

<%= link_to "Back", categories_path, :class => "btn btn-primary", :style => "color: #ffffff" %>
<%else%>
<blockquote>
	<p class="text-danger">You are not authorized to view this page!</p>
</blockquote>
<% end %>
